# Testing Framework
pytest==8.3.3
pytest-html==4.1.1
pytest-metadata==3.1.1
allure-pytest==2.13.5

# Data Processing
pandas==2.2.3
pyarrow>=18.0.0
fastparquet==2024.5.0

# Database Connectors
psycopg[binary]==3.2.4
sqlalchemy==2.0.35

# Utilities
python-dateutil>=2.9.0